*.wav
**.zip
*.pth
*.pth.tar
**.zip
projects/
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TFG.iml
.idea/vcs.xml
cloning/gui_utils/__pycache__/*
cloning/gui_utils/audio_entry.ui
cloning/validated.tsv
**/__pycache__/**
/*dataset/*
cloning/validations/*
other_datasets/*
sanso_old/*